.header {
  height: 72px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.headerLeft {
  display: flex;
  gap: 36px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
}

.menu {
  display: flex;
  align-items: flex-end;
  transform: translate(0, -2px);
}

.menuList {
  display: flex;
  gap: 36px;
}

.headerRight {
  display: flex;
  gap: 12px;
}

.searchButton {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
