.markdown {
  @apply text-base leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-[1.125rem];
}

.markdown h1 {
  @apply font-bold text-4xl mt-12 mb-4 leading-snug;
}

.markdown h2 {
  @apply font-bold text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply font-bold text-2xl mt-8 mb-4 leading-snug;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  scroll-margin-top: 4.5rem;
}

.markdown ul li:before {
  content: "•"; /* 원하는 문자 또는 기호를 여기에 넣으세요 */
  display: inline-block; /* 인라인 블록으로 표시 */
  width: 1em; /* 너비 설정 */
}

.markdown ol {
  counter-reset: li-counter; /* 카운터 초기화 */
}

.markdown ol li:before {
  content: counter(li-counter) "."; /* 카운터 사용 */
  counter-increment: li-counter; /* 카운터 증가 */
  display: inline-block; /* 인라인 블록으로 표시 */
  width: 1em; /* 너비 설정 */
}

.markdown blockquote {
  @apply m-0 py-0 px-4 border-l-4 border-slate-200 break-all;
}

:global(.dark) .markdown blockquote {
  @apply border-slate-600;
}

.markdown blockquote p {
  @apply mt-0 mb-4;
}

.markdown blockquote p:last-child {
  @apply mb-0;
}
