.themeToggle {
  position: relative;
  width: 60px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.bigDot {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: black;
  position: absolute;
  transition: left 0.2s;
}

.bigDotLight {
  left: 4px;
}
.bigDotDark {
  left: 32px;
}

.moonIcon {
  position: absolute;
  left: 8px;
}

.sunIcon {
  position: absolute;
  right: 6px;
}
